Basic data type in Python:
integer, string, floating point numbers, boolean

Complex data type in Python:
Tuple, List, Dictionary

In [1]:
print("This string contains a single quote (') character.")

print('This string contains a double quote (") character.')

This string contains a single quote (') character.
This string contains a double quote (") character.

In [2]:
a = b = c = 300
print(a, b, c)

300 300 300

Penamaan variabel di python:

Huruf, angka, dan garis bawah (underscore)
Tapi tidak boleh diwali dengan angka

*) Huruf: huruf besar & kecil

In [3]:
a = 4
b = 3

print(a + b) #7
print(a - b) #1
print(a * b) #12
print(a / b)  #division	#1.333
print(a // b) #integer division 1
print(a % b)  #modulo 1
print(a ** b) #pangkat 64

7
1
12
1.3333333333333333
1
1
64

In [6]:
print(type(a / b))  #division	#1.333
print(type(a // b)) #integer division 1

<class 'float'>
<class 'int'>

In [4]:
keyword = "Wonder"
book_title = "Alice in Wonderland"

# keyword in book_title
print(keyword in book_title)

True

In [5]:
# .capitalize() vs .title()

s = 'hello world'
print('Capitalized ', s.capitalize())
print('Titled ', s.title())

Capitalized  Hello world
Titled  Hello World

In [7]:
#len min max

coins = [12,  300, 45, 100, 4, 90, 87]
print(len(coins))
print(min(coins))
print(max(coins))

7
4
300

In [8]:
# packing and unpacking

(s1, s2, s3, s4) = ('foo', 'bar', 'baz', 'qux')

print(s1)
print(s2)
print(s3)
print(s4)

foo
bar
baz
qux

In [9]:
t1 = (9)
print(type(t1))

t1 = (9,)
print(type(t1))

<class 'int'>
<class 'tuple'>